#modal-container-showDelete {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  /* z-index: 1; */
  z-index: 5;
}
#modal-container-showDelete.showDelete {
  transform: scale(1);
}
#modal-container-showDelete.showDelete .modal-background-showDelete {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container-showDelete.showDelete .modal-background-showDelete .modal-showDelete {
  transform: translateX(-1500px);
  animation: roadRunnerInRight 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container-showDelete.showDelete.out {
  animation: quickScaleDown 0s .5s linear forwards;
}
#modal-container-showDelete.showDelete.out .modal-background-showDelete {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container-showDelete.showDelete.out .modal-background-showDelete .modal-showDelete {
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container-showDelete.out {
  animation: quickScaleDown 0s .5s linear forwards;
}
#modal-container-showDelete.out .modal-background-showDelete {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container-showDelete.out .modal-background-showDelete .modal-showDelete {
  animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container-showDelete.out .modal-background-showDelete .modal-showDelete h2, #modal-container-showDelete.out .modal-background-showDelete .modal-showDelete p {
  animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.out .modal-background-showDelete .modal-showDelete .modal-svg rect {
  animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-background-showDelete {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
.modal-background-showDelete .modal-showDelete {
  background: white;
  padding: 30px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
.modal-background-showDelete .modal-showDelete h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
.modal-background-showDelete .modal-showDelete p {
  font-size: 18px;
  line-height: 22px;
}
.modal-background-showDelete .modal-showDelete .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.modal-background-showDelete .modal-showDelete .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.content {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  /*z-index: 0;*/
  z-index: 1;
}
.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
.content .buttons {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.content .buttons .button {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  background: red;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.content .buttons .button:hover {
  color: white;
  background: #009bd5;
}

@media screen and (max-width: 576px) {
  .modal-showDelete { width: 220px; }
  .modal-background-showDelete .modal-showDelete { padding: 20px; }
  .modal-background-showDelete .modal-showDelete p { font-size: 16px; }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes roadRunnerInRight {
  0% {
    transform: translateX(0) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}
@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}

@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}

@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}